<p id="notice"><%= notice %></p>

<p>
  <strong>Departure station:</strong>
  <%= @train.departure_station_id %>
</p>

<p>
  <strong>Arrival station:</strong>
  <%= @train.arrival_station_id %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @train.departure_time %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @train.arrival_time %>
</p>

<p>
  <strong>Passengers capacity:</strong>
  <%= @train.passengers_capacity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @train.price %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
